body {
  font-family: var(--font);
  background-color: #f7f7f7;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


@media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto 1fr auto;
  }
  body {
    max-width: 800px;
    margin: 0 auto;
  }
}

header {
  grid-column: span 3;
  padding: 30px;
  font-size: 1.4em;
}

main {
  flex: 1;
  padding: 20px;
}

footer {
  grid-column: span 3;
  padding: 30px;
  text-align: center;
  font-size: 1.4em;
}

h1 {
  margin-bottom: 1em;
  font-size: 1.3em;
  font-weight: bold;
}

p {
  margin: 1em 0;
}

img {
  display: block;
  margin: auto;
  max-width: 100%;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.tabs {
  margin: .5em;
}
